PORT=3008
CORS_ORIGIN=*
PRODUCER_MAX_WORKERS=6
PRODUCER_ENABLE_BROWSER_POOL=true
PRODUCER_PUPPETEER_LAUNCH_TIMEOUT_MS=180000
PRODUCER_PUPPETEER_PROTOCOL_TIMEOUT_MS=300000
PRODUCER_PLAYER_READY_TIMEOUT_MS=90000
PRODUCER_RENDER_READY_TIMEOUT_MS=60000
RENDER_TIMEOUT_MS=1800000
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=
AWS_S3_REGION=
RENDER_API_KEY=
